/*****************************************************************
 *
 * 弹窗
 * 
 * ui-dialog
 *
 ****************************************************************/
 .ui-dialog {
 	position: fixed;
 	z-index: 1000;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	text-align: center;
 	overflow: auto;
 }

 .ui-dialog:after {
 	display: inline-block;
 	vertical-align: middle;
 	content: '';
 	height: 100%;
 	margin-left: -0.25em;
 }

 .ui-dialog-inner {
 	position: relative;
 	display: inline-block;
  	vertical-align: middle;
 	max-width: 99%;
    /*max-width: calc(100% - 0.25em) /* Only for IE9+ */
 	background-color: #ffffff;
 	text-align: left;
 	border: 1px solid rgba(0,0,0,0.1);
 	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
 }

.ui-dialog-mask {
	position: fixed; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: .5;
	z-index: 998;
}

.ui-dialog-mask-white {
	background-color: #fafafa;
	z-index: 1010;
}

.ui-dialog-head {
	position: relative;
	padding: 8px 28px 8px 0;
	background-color: #f2f2f2;
}

.ui-dialog-title {
	font-size: 14px;
	color: #666666;
	padding-left: 14px;
	border-left: solid 4px #e84544;
}

.ui-dialog-close {
	position: absolute;
	right: 5px;
	top: 10px;
	font-size: 20px;
	/*font-weight: bold;*/
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .3;
	filter: alpha(opacity=30);
	font-family: "Open Sans";
	cursor: auto;
	text-decoration: none;
}

.ui-dialog-close:hover {
	text-decoration: none;
}

.ui-dialog-body {
	padding: 15px 24px;
	text-align: left;
	word-break: break-all;
	overflow: auto;
	color: #5b5b5b;
}

.ui-dialog-foot {
	padding: 0 24px;
}

.ui-dialog-btns {
	padding-bottom: 15px;
	text-align: center;
}
.ui-dialog-btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding: 0 24px;
	color: #666;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	background-color: #fff;
}

.ui-dialog-btn + .ui-dialog-btn {
	margin-left: 15px;
}

.ui-dialog-btn:hover {
	background-color: #f3f3f3;
}

.ui-dialog-btn-on, .ui-dialog-btn-on:hover {
	color: #fff;
	border-color: #7bb811;
	background-color: #7bb811;
}

.ui-dialog-loading {
	height: 60px;
	overflow: hidden;
	background: url('./images/webloading.gif?__inline') no-repeat left center;
	line-height: 60px;
	padding-left: 65px;
	font-size: 16px;
}

/* 默认皮肤 */
.msc-dialog-loading {
	z-index: 1020;
}
.msc-dialog-loading .ui-dialog-body{
	padding: 0 5px;
}

.msc-dialog-tips .ui-dialog-body{
	padding: 10px 18px;
	line-height: 20px;
}

.msc-dialog-tips-icon {
	display: inline-block;
	font-size: 14px;
	padding-left: 30px;
	background-image: url('./images/tips_icons.png?__inline');
	background-repeat: no-repeat;
	background-position: 0 30px;
}

.msc-dialog-tips-success-icon {
	background-position: 0 0;
	color: #4a840c;
}
.msc-dialog-tips-error-icon {
	background-position: 0 -30px;
	color: red;
}
.msc-dialog-tips-warning-icon {
	background-position: 0 -60px;
}

/*视觉*/
@media screen and (min-width:0) {
    .ui-dialog-inner { 
    	transform: scale(0); 
		transition: transform .2s ease-in-out; 
		-webkit-transform: scale(0); 
		-webkit-transition: -webkit-transform .2s ease-in-out;
		-moz-transform: scale(0); 
		-moz-transition: -webkit-transform .2s ease-in-out;
		-o-transform: scale(0); 
		-o-transition: -webkit-transform .2s ease-in-out;
		  
   	}
    .ui-dialog-visible .ui-dialog-inner{ 
    	transform: scale(1); 
    	-webkit-transform: scale(1); 
    	-moz-transform: scale(1);
    	-o-transform: scale(1);
    }
	.ui-dialog-notice .ui-dialog-inner { 
		transform: scale(1, 1); 
		-webkit-transform: scale(1, 1); 
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
	}
}


/* 右下角提示*/
.ui-dialog-notify-fixed {
	position: fixed;
	right: 20px;
	bottom: 0;
	z-index: 100;
}

.ui-dialog-notice {
	position: static;
	text-align: left; 
	margin-top: 10px;
	/*overflow: hidden;*/
}

.ui-dialog-notice>.ui-dialog-inner{
	min-width: 400px;
}

.ui-dialog-notice .ui-dialog-btns {
	text-align: left;
}